/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    background: #0f141b;
    color: #f5f5f5;
}

/* HEADER */
.topbar{
    position: relative;
    background: #0d1a2d;
    padding: 20px;
    border-bottom: 2px solid #00e18c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar h2{
    color: white;
    font-size: 2rem;
}

.back-btn{
    position: absolute;
    right: 20px;

    padding: 10px 18px;
    border: 2px solid #00e18c;
    border-radius: 10px;

    color: #00e18c;
    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.back-btn:hover{
    background: #00e18c;
    color: #0f141b;
}

/* JUDUL */
.judul-page{
    text-align: center;
    font-size: 3rem;
    margin: 40px 0;
    color: white;
}

/* CONTAINER */
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    padding: 30px;
}

/* CARD */
.project-card{
    background: #1a1f25;
    border-radius: 15px;
    overflow: hidden;

    border: 1px solid #222831;

    display: flex;
    flex-direction: column;

    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-5px);
    border-color: #00e18c;
}

/* GAMBAR */
.project-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

/* ISI CARD */
.project-content{
    padding: 20px;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-content h3{
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.project-content p{
    line-height: 1.6;
    opacity: 0.85;

    min-height: 70px;
    margin-bottom: 20px;
}

/* TOMBOL SEE */
.btn-see{
    margin-top: auto;

    display: inline-block;
    width: fit-content;

    background: #00e18c;
    color: #0f141b;

    padding: 12px 28px;
    border-radius: 50px;

    text-decoration: none;
    font-weight: 700;

    transition: 0.3s;
}

.btn-see:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}

/* TOMBOL KEMBALI */
.btn-kembali{
    position: fixed;

    right: 30px;
    bottom: 30px;

    background: #00e18c;
    color: #0f141b;

    padding: 12px 24px;

    border-radius: 12px;
    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;
}

.btn-kembali:hover{
    transform: translateY(-3px);
}

/* TABLET */
@media (max-width: 1100px){
    .project-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* HP */
@media (max-width: 768px){
    .project-container{
        grid-template-columns: 1fr;
    }

    .judul-page{
        font-size: 2rem;
    }

    .project-img{
        height: 200px;
    }
}